@charset "utf-8";
/* CSS Document */

body > div.container{
	margin-top:75px;
}

body > div.container > div:nth-child(6) > div > blockquote > p{
	font-size: 14px;
}

body > div.container > div:nth-child(1) > ul{
	font-weight: 600;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto;
	/* IMG supaya di tengah */
	margin:0 auto;
}

tr.grandTotal{
	font-weight:bold;
}

.warnaText{
	color:#f63939;
	font-weight:600;
}

.termsCondition{
	line-height:21px;
	font-size:12px;
}

.textHeight{
	margin-top:20px;
}

body > div.container > div:nth-child(43) > div > ul:nth-child(11) > li:nth-child(5) > span{
	color:#1F73D8;
}
